<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <h1>Expense Tracker</h1>
            <form class="expense-form" onsubmit="expense(event)">
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" placeholder="Enter amount" required>

                <label for="description">Description</label>
                <input type="text" name="description" id="description" placeholder="Enter description" required>

                <label for="category">Category</label>
                <select name="category" id="category" required>
                    <option value="Fuel">Fuel</option>
                    <option value="MakeUp">MakeUp</option>
                    <option value="Education">Education</option>
                    <option value="Restaurant">Restaurant</option>
                </select>

                <button type="submit">Add Expense</button>
            </form>


        </div>

        <div>
            <ul id="userExpenses"></ul>
        </div>
        <button id="rzp-button1">Buy Premium</button>
        <p id="message"></p>

        <div class="leaderboard">
            <div id="message"></div>
            <ul class="ul" id="leaderboard"></ul>
        </div>


    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="expense.js"></script>
</body>

</html>